body {
	background-color: #7f8c8d;
	margin: 20px auto;
	width:503px;
	font-family: sans-serif;
	font-size: 12px;
}
/*This is going to have to be renamed when adding the box to the right*/
.header {
	background-color: #2ecc71;
	border-bottom: 5px inset #27ae60;
	padding:163px 0px 10px 10px;
	font-size: 25px;
	color:white;
	font-weight: bold;
}
.nav-bar{
	background-color: #34495e;
	border-bottom: 3px outset #7f8c8d;
}
.nav-list {
	padding:5px 5px 5px 270px;
	margin:0;
}
.nav-item {
	display: inline-block;
	color:white;
	font-size: 12px;
	margin:7px;
}
.content-box {
	background-color: #ecf0f1;
	padding: 15px;
}
.content-head1 {
	font-size: 18px;
	margin:25px 10px;
}
.content-para {
	margin:15px 25px;
	line-height: 20px;
}


/*pre tag*/